@import "../../../SCSSFile/ColorVariable/index.scss";
@import "../../../SCSSFile/SCSSFunctions/index.scss";

.cart-product {
  padding: 0.5rem;
  background-color: $whiteColor;
  @include displayFlexColumnProperty(start, start, 1rem);
  font-size: 1rem;

  &-allData {
    @include displayFlexProperty(center, start, 2rem);
    border-bottom: 1px solid $borderLightGray;
    padding: 1rem 0.5rem;
  }

  & .single-img-container {
    width: 16rem;
  }

  & .single-product-img {
    width: 90%;
    aspect-ratio: 1;
  }

  &-details {
    width: 42%;
    @include displayFlexColumnProperty(start, start, 1.2rem);
  }

  &-action-container {
    @include displayFlexProperty(center, start, 1.5rem);
    color: $darkGreen;
    font-weight: 550;
  }

  & h4 {
    letter-spacing: 0.5px;
  }

  & .cart-product-name {
    font-size: 1.1rem;
  }
}

.cart-product-about-container {
  @include displayFlexColumnProperty(start, start, 0.5rem);
}

.discount-price-container h4 {
  font-size: 1.2rem;
}

.place-order-container {
  @include displayFlexProperty(center, end, none);
  padding: 1rem;
  background-color: $whiteColor;
  position: sticky;
  bottom: 0rem;
  box-shadow: rgba(9, 9, 14, 0.1) 0px 0px 16px;

  .Place-order-button {
    @include buttonStyle(2.9rem, 30%, 0.5rem, 0.2rem, $darkOrange, $whiteColor);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}
.cart-price-right-price {
  letter-spacing: 0.5px;
}

.cart-product-action:hover {
  color: $mediumGreeen;
}
