.top-offer-tags-images-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 98%;
    padding: 1.3rem 2rem;
    background-color: white;
    
}
.top-offer-tags-images-container img{
    width: 5rem;
    aspect-ratio: 1;
    object-fit: contain;
}
.scrolling-offer-image-container{
   position: relative;
   width: 98%;
  
}
.scrolling-offer-image-container img{
   width: 100%;
}
.left-arrow-button,.right-arrow-button{
    position: absolute;
    width: 2.8rem;
    background-color: white;
    height: 7rem;
    top: 31%;
    
}
.left-arrow-button{
    left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}
.right-arrow-button{
    right: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    
}
.arrow-icons{
    width: 1rem;
    height: 1rem;
}
.addToCart-icons{
    width: 1.2rem;
    height: 1.2rem;
}
.offer-card-img{
    width: 98%;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 98%;
    gap: 0.7rem;


}