@import "../../../SCSSFile/ColorVariable/index.scss";
@import "../../../SCSSFile/SCSSFunctions/index.scss";

.cart-header {
  height: 3.5rem;
  background-color: $blueColor;
  padding: 0 14rem;
  width: 100%;
  @include displayFlexProperty(center, space-around, 0);
  position: sticky;
  top: 0.1rem;
  z-index: 1;

  & img {
    @include imgProperty(7rem , 1, none)
  }

  &-left {
    @include displayFlexProperty(center, center, 1rem);
  }

  &-input {
   
    height: 2.3rem;
    outline: none;
    border: none;
    flex: 1;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem 0 0 0.2rem;

    &-button {
      @include buttonStyle(2.3rem, fit-content, 0 0.7rem, 0 0.2rem 0.2rem 0 , $whiteColor, none);
      @include displayFlexProperty(center, center, 0);
    }
  }
  &-icon {
    @include heightWidthProperty(1.4rem , 1.4rem);
    color: $blueColor;
  }

  &-input-div {
    @include displayFlexProperty(center, center, 0);
    width: 35rem;
  }
  &-user{
    color: $whiteColor;
    font-weight: 550;
  }
}
