@import "../../../SCSSFile/ColorVariable/index.scss";
@import "../../../SCSSFile/SCSSFunctions/index.scss";

.wishlist-myaccount {
    @include displayFlexProperty(center, start, 0.8rem);
    padding: 0.6rem;
    background-color: $whiteColor;

    & img {
        width: 3rem;
    }
    & .details{
     @include displayFlexColumnProperty(start, center, 0.2rem);
    }

    & .hello-msg {
        font-size: 0.9rem;
    }

}