.number-container {

    display: flex;
    width: 55%;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
}

.symbol {
    border: none;
    background-color: transparent;
    padding: 0.1rem 0.5rem;
    font-size: 1.2rem;

}
.number:active,.number:hover{
    border: 1px solid  rgb(252, 210, 0);
  }
  .number{
    text-align: center;
    color: rgb(33, 33, 33); 
    border: 1px solid rgb(213, 217, 217);
    border-radius: 0.6rem;
    width: 4rem;
    outline: none;
    font-size: 1.1rem;
    padding: 0.2rem 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  