@import "../../../SCSSFile/ColorVariable/index.scss";
@import "../../../SCSSFile/SCSSFunctions/index.scss";

.cart-product {
  padding: 0.5rem;
  background-color: $whiteColor;
  @include displayFlexColumnProperty(start, start, 1rem);
  font-size: 1rem;

  &-allData {
    @include displayFlexProperty(center, start, 2rem);
    border-bottom: 1px solid $lightPink;
    padding: 1rem 0.5rem;
  }

  &-img-container {
    width: 22%;
    @include displayFlexProperty(center, center, 0); 
  }

  &-img {
    width: 90%;
    aspect-ratio: 1;
  }
  &-details {
    width: 42%;
    @include displayFlexColumnProperty(start, start, 0.7rem);
  }
  &-action-container {
    @include displayFlexProperty(center, start, 1rem );
    color: $darkGreen;
    font-weight: 550;
  }
}
