@import "../../../SCSSFile/ColorVariable/index.scss";
@import "../../../SCSSFile/SCSSFunctions/index.scss";

.main-div {
  height: 100vh;
  @include displayFlexProperty (center, flex-start, 0);
  width: 100%;
  background-color: $whitesmoke;
  font-size: 1rem;
}
.login-main-container {
  margin: auto;
  display: flex;
  width: 55%;
  height: 48rem;
  background-color: $whiteColor;
}

.login-left-container {
  @include displayFlexColumnProperty (start, flex-start, 2rem);
  width: 40%;
  background-color: $blueColor;
  color: $whiteColor;
  padding: 2rem;
}

.login-right-container {
  padding: 2rem;
  @include displayFlexColumnProperty (start, flex-start, 2rem);
}

.login-heading {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 550;
}

.login-left-content {
  font-size: 1.4rem;
  line-height: 2rem;
  color: $darkwhite;
}
.login-email-container,
.login-password-container {
  height: 2.5rem;
  width: 80%;
  padding: 0 0.5rem;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $blackColor;
  border-left: none;
}
.blue-color {
  color: $blueColor;
}
.Login-button {
  height: 2.5rem;
  border-radius: 0.2rem;
  width: 80%;
  background: $darkOrange;
  box-shadow: 0 1px 2px 0 $boxShadowBlack;
  border: none;
  color: $whiteColor;
  font-size: 1.1rem;
  font-weight: 600;
}
.login-email-div,
.login-password-div {
  position: relative;
  width: 100%;
}
.login-placeholder {
  @include absoluteProperty(0.5rem, -1, -1, 0.5rem)
}
.agree-container {
  font-size: 0.9rem;
}
