@import "../../../SCSSFile/ColorVariable/index.scss";
@import "../../../SCSSFile/SCSSFunctions/index.scss";

.header {
  @include displayFlexProperty(center, space-between, 0);
  @include heightWidthProperty(4.5rem, 100%);
  padding: 0 2rem;
  background-color: $whiteColor;
  position: sticky;
  top: 0.1rem;
  z-index: 1;

  &--branding-container {
    @include displayFlexColumnProperty(end, center, 0.1rem);
    font-size: 1rem;
    font-family: "Merriweather", serif;
    font-style: italic;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 0;
    cursor: pointer;

    &:hover {
      border: 1px solid $borderLightGray;
      background-color:$whitesmoke; 
    }

    & img {
      width: 10rem;
    }
  }
  &-explore-name {
    @include displayFlexProperty(center, center, 0.5rem);

    & img {
      width: 1rem;
    }
  }
  &-input {
    @include buttonStyle(
      3rem,
      100%,
      none,
      0 0.5rem 0.5rem 0rem,
      $lightWhite,
      none
    );
    border: 0;
    outline: 0 none;
    font-size: 1.3rem;
  }
  &-serach-icons {
    @include displayFlexProperty(center, center, 0);
    @include buttonStyle(
      3rem,
      fit-content,
      0 0.7rem,
      0.5rem 0 0 0.5rem,
      $lightWhite,
      none
    );
  }
}

.head-explore {
  color: $gray62;
}

.head-plus {
  color: $goldenPoppy;
}

.head-input-container {
  flex: 1;
  max-width: 50rem;
  display: flex;
}

.head-rightSide-container {
  width: 40%;
  @include displayFlexProperty(center, start, 13%);
}

.head-nav-container {
  @include displayFlexProperty(center, start, 0.7rem);
  font-size: 1.3rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;

  &:hover{
    border: 1px solid $borderLightGray;
    background-color:$whitesmoke; 
  }

  & img {
    width: 2rem;
  }
}


.head-search-icons {
  @include heightWidthProperty(1.5rem, 1.5rem);
}
