@import "../../../SCSSFile/SCSSFunctions/index.scss";

.cart-main{
    width: 80rem;
    margin: 0 auto;
   @include displayFlexProperty(start, start, 1rem);

    &-left{
        width: 56rem;
       @include displayFlexColumnProperty(start, start, 1rem)
    }
}
