$whiteColor: white;
$whitesmoke: whitesmoke;
$blackColor: black;
$mediumBlack : #212121;
$redColor: red;
$blueColor: #2874f0;
$darkwhite: rgb(233, 231, 231);
$darkOrange: #fb641b;
$lightGray: rgb(212, 212, 212);
$mediumGray: rgb(160, 160, 160);
$gray: rgb(135, 135, 135);
$greenColor: #008000;
$darkGreen : rgb(0, 84, 0);
$lightGray94: #f0f0f0;
$lightGray88: #e0e0e0;
$mediumGreeen: #388f3c;
$boxShadowBlack: rgba(0, 0, 0, 0.2);
$lightPink: lightpink;
$gray62: #9e9e9e;
$goldenPoppy: #ffc200;
$lightWhite: rgb(236, 248, 252);
$orangPeel: rgb(255, 157, 0);
$lightYellow: rgb(252, 210, 0);
$borderLightGray: rgb(194, 193, 193);

//import Link @import '../../../SCSSFile/ColorVariable/index.scss';
